__pycache__/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.directory
.DocumentRevisions-V100
.DS_Store/
.env
.fseventsd
.fuse_hidden*
.git/
.hypothesis/
.LSOverride
.nfs*
.nox/
.npm/
.nyc_output/
.pytest_cache/
.Spotlight-V100
.TemporaryItems
.tox/
.Trash-*
.Trashes
.vagrant/
.vault_pass
.venv
.VolumeIcon.icns
.vscode/*
*.box
*.code-workspace
*.cover
*.log
*.py
*.py[cod]
*.retry
*.so
*~
*$py.class
build/
coverage.xml
db.sqlite3
db.sqlite3-journal
env.bak/
env/
ENV/
htmlcov/
Icon
local_settings.py
Network Trash Folder
node_modules/
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
pytestdebug.log
Temporary Items
venv.bak/
venv/
