.autodoc/
.cache/
.common/
.git/
.github/
.gitlab/
.gitmodules
.husky/_/husky.sh
.modules/
.nyc_output/
.variables.json
.venv/
**/.cache/
**/.husky/_/husky.sh
**/Dockerfile
**/*.handlebars
build/
Dockerfile
scripts/*.symlink.sh
slim_test/
Taskfile.yml
venv/
