---
name: macOS
# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "0 5 * * 2" # At 5AM on Tuesdays

jobs:
  integration:
    name: Integration
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-10.15

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Test the role.
        env:
          ANSIBLE_FORCE_COLOR: "1"
        run: |
          bash tests/test.sh
